.Title .edit-icon{
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.edit-icon{
    margin-left: 30px;
}
.Title:hover .edit-icon{
    opacity: 1;
}
.Title .form-control{
    height: 60px;
    font-size: 25px;
}